 <html>
  <head>
    <title>Blocipedia</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  
  <div class="container home-font">

    <div class="row header-footer">
     
        <div class="col-md-6">
          <%= link_to "Blocipedia", welcome_index_path %> &nbsp;|&nbsp; <%= link_to "Browse all Wikis", wikis_path %> &nbsp;|&nbsp; <% if user_signed_in? %> <%= link_to "My Wikis", users_show_path %> &nbsp;|&nbsp; <% end %><%= link_to "Create a Wiki!", new_wiki_path %>
        </div>
        
        <div class="col-md-6"><span class="pull-right">
         <% if user_signed_in? %>
           <span class="glyphicon glyphicon-user">&nbsp;</span> <strong><%= current_user.email %></strong> |
           <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
         <% else %>
           <%= link_to "Sign In", new_user_session_path, :class => 'navbar-link'  %>
         <% end %>
         </span>
        </div>
       
    </div>
    

    

     <% if flash[:notice] %>
       <div class="alert alert-success">
         <button type="button" class="close" data-dismiss="alert">&times;</button>
         <%= flash[:notice] %>
       </div>
     <% elsif flash[:alert] %>
       <div class="alert alert-warning">
         <button type="button" class="close" data-dismiss="alert">&times;</button>
         <%= flash[:alert] %>
       </div>
     <% end %>

  <%= yield %>
 
   <div class="row header-footer">
     <div style="text-align: center;">
       Copyright &nbsp;<span class="glyphicon glyphicon-copyright-mark"></span>&nbsp;2017
     </div>
   </div>
  
  </div>
  
  </body>
  </html>
