<html>
   <head>
      <title>Wikit</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= stylesheet_link_tag params[:wikis] %>
      <%= stylesheet_link_tag params[:collaborators] %>
      <%= csrf_meta_tags %>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
  <!-- Latest compiled JavaScript -->
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
      
   </head>
   <body onresize="toggleTabs()">

      <div class="container home-font">
         <div class="row">
            <nav class="navbar navbar-light bg-faded navbar-top" style="border: 1px solid #cfbfd6; background-color: #ece5ee; max-height:20px !imporant; padding-left:20px; padding-right:20px; padding-bottom: 0; padding-top: 10;">
               <table width="100%">
                  <tr>
                     <td>
                        <% if !user_signed_in? %>
                        <%= link_to "<u><h3 style='font-weight: bold; margin-top:0 !important; margin-bottom:0 !important; color:#80668a; display: inline;'>Wikit <i class='fa fa-pencil' aria-hidden='true'></i></h3></u> Write it, share it...wiki it.".html_safe, welcome_index_path, class: "nav-logo" %> 
                        <% else %>
                           <span class="nav-logo"><u><h3 style='font-weight: bold; margin-top:0 !important; margin-bottom:0 !important; color:#80668a; display: inline;'>Wikit <i class='fa fa-pencil' aria-hidden='true'></i></h3></u> Write it, share it...wiki it.</span>
                        <% end %>
                     </td>
                     <td align="right">
                        <% if user_signed_in? %>
                        <i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp; Hello, <strong><%= current_user.email.split("@")[0] %></strong><%= link_to "<i class='fa fa-sign-out' aria-hidden='true' style='padding-left:10px'></i> Sign Out".html_safe, destroy_user_session_path, method: :delete %>
                        <% end %>
                     </td>
                  </tr>
               </table>
            </nav>
         </div>

         <div class="row">
		      <div class="col-md-2">
               <div class="nav-side-menu">
                  <div class="brand"><%= link_to "<u><h3 style='font-weight: bold; color:#80668a;'>Wikit <i class='fa fa-pencil' aria-hidden='true'></i></h3></u>".html_safe, welcome_index_path, class: "nav-logo", :onclick => "su=0" %></div>
                  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content" ></i>
                  
                  <div class="menu-list">
                     <ul id="menu-content" class="menu-content collapse list-group">
                        <% if !user_signed_in? %>
                        <li class="list-group-item mid-list-item">
                           <%= link_to "<i class='fa fa-home' aria-hidden='true'></i> Home / Sign in".html_safe, welcome_index_path, :onclick => "su=0" %>
                        </li>
                        <% end %>
            
                        <li class="list-group-item mid-list-item">
                           <%= link_to "<i class='fa fa-list-alt' aria-hidden='true'></i> Browse all Wikis".html_safe, wikis_path %>
                        </li>
            
                        <li class="list-group-item <% if user_signed_in? %> mid-list-item <% end %>">
                           <%= link_to "<i class='fa fa-pencil-square-o' aria-hidden='true'></i> Create a Wiki!".html_safe, new_wiki_path %>
                        </li>
            
                        <% if user_signed_in? %> 
                           <li class="list-group-item mid-list-item">
                              <%= link_to "<i class='fa fa-folder-open-o' aria-hidden='true'></i> My Wikis".html_safe, users_show_path %> 
                           </li>
                           <li class="list-group-item mid-list-item">
                              <%= link_to "<i class='fa fa-user-o' aria-hidden='true'></i> My Account".html_safe, account_management_path %> 
                           </li>
                        <% end %>
                        
                        <% if user_signed_in? && current_user.role == 'standard' %>
                           <li class="list-group-item mid-list-item">
                              <%= link_to "<i class='fa fa-arrow-circle-up' aria-hidden='true'></i> Upgrade!".html_safe, new_charge_path, :class => 'navbar-link' %>
                           </li>
                        <% end %>
                        
                        <% if user_signed_in? %>
                           <li class="list-group-item">  
                              <%= link_to "<i class='fa fa-sign-out' aria-hidden='true'></i> Sign Out".html_safe, destroy_user_session_path, method: :delete %>
                           </li>
                        <% end %>
                    </ul>
                  </div>
               </div>
            </div>
            <div class="wrapper">
            <div class="col-md-10">
               <% if flash[:notice] %>
                  <div class="alert alert-success wrap">
                     <button type="button" class="close" data-dismiss="alert">&times;</button>
                     <%= flash[:notice] %>
                   </div>
               <% elsif flash[:alert] %>
                  <div class="alert alert-warning wrap">
                     <button type="button" class="close" data-dismiss="alert">&times;</button>
                     <%= flash[:alert] %>
                  </div>
                <% elsif flash[:danger] %>
                  <div class="alert alert-danger wrap">
                     <button type="button" class="close" data-dismiss="alert">&times;</button>
                     <%= flash[:danger].html_safe %>
                  </div>           
               <% end %>
               
               <%= yield %>
               </div>
            </div>
         </div>
         <!--match top nav style in small views-->
         <div class ="row">
            <nav class="navbar navbar-light bg-faded navbar-bottom" style="border: 1px solid #cfbfd6; background-color: #ece5ee; max-height:20px !imporant; text-align:center; padding-bottom: 0; padding-top: 15px;">Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2017 Vidya Neni</nav>
         </div>
         
      </div>
      
      <script>
      var su;
         function toggleTabs() {
            var $contents = $('.tab-content');
            if (window.matchMedia('(max-width: 767px)').matches) {
               $contents.slice(1).hide();
               $('.tab').click(function() {
                  var $target = $('#' + this.id + 'show').show();
                  $contents.not($target).hide();
               });
            }
            else {
               $contents.slice(1).show();
            }
         }
         
         toggleTabs();
         
         if (su==1)
         {
            $('#tab2show').show();
         }
         else if (su==2)
         {
            $('#tab1show').show();
         }
         else toggleTabs();
      </script>
      
   </body>
</html>